*{
    margin:5px;
    padding:0;
    width:100%;
}

body{
background-position: right ;
background-color:white;
}

h1{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    color:black;
}

.icone{
    width: 60px;
    
}


p {
    font-size: medium;
    font-family:'Roboto', sans-serif;
    color:black;
}

li{
    list-style:none ;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    color:palevioletred;
}

.imagem {
    size: 5px; ;
}

footer{
    font-size: medium;
    font:black;
}

.destaque {
  font-style:bold;
  color:blue

}

.menuitem img{
    width:200px; 

}

.menuitem{
position:relative ;
}

 div.bloco{
     width: 500px; 
     padding: 30px; 
     border:groove 3px purple;
     margin:20px auto;
    

}

#header nav{
    margin:auto;
   display:block;
}

