body{
    font-family:'Prompt', sans-serif;
    color:navy;
    font-style:bold;
    border-width:50px;
    margin: 0 auto;
    width: 400px;
    background-color:skyblue;
 

   
}

form{
    margin: 0 auto;
    width: 450px;
    color:navy;
    font-weight: inherit;
    border-spacing:160px ;
    border-radius:initial;
    background-origin: inherit;
    border-width:unset;
}

form div + div {
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 110px;
    text-align:left;

}

a{
    text-decoration:none ;
}

a:visited{
    color:blue;
    font-size: medium;
    font-style:bold;
}


a:hover{
    text-decoration:underline ;
}

a:focus{
    background:rgba(0,0,0,0.5);
}


.container{
    width:80% ;
    margin:auto;
    border-width: medium;
}

.button{
    color:blue;
    border-radius:200px ;
    border-color:blue;
    width:100px;
    
    
  
}

.button:hover{
    transition:0.5s ;
    border-width: 4px 1.25em;
    border-color:blue;
    width:150px
}

img{
margin:0;    
border-radius: 100px;
width:400px ;
 
}


@keyframes pc{
    0%{ opacity: 0%}
    25%{transform: translateY(-20px); opacity:100%}
    100%{opacity:0%}
}
.pc{
    animation: pc 5s infinite;
}


    




