body{
    font-family:'Prompt', sans-serif;
    color:navy;
    border-width:100px;
    padding:50px ;
    margin: 0 auto;
    width: 400px;
    background-color:#B5EAEA;
    border-color: black;
 

   
}

form{
    margin: 0 auto;
    width: 450px;
    color:navy;
    font-weight: inherit;
    border-spacing:160px ;
    border-radius:260px;
    background-origin: inherit;

}

form div + div {
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 110px;
    text-align:left;

}

a{
    text-decoration:none ;
}

a:visited{
    color:blue;
    font-size: medium;
    font-style:bold;
}


a:hover{
    text-decoration:underline ;
}

a:focus{
    background:rgba(0,0,0,0.5);
}


div.container{
    width:80% ;
    margin:auto;
    border-radius:60px ;
    border-width:180px ;
}

.button{
    color:blue;
    border-radius:300px ;
    border-color:blue;
    width:100px; 
}

.button:hover{

    border-width: 4px 1.25em;
    border-color:blue;
    width:150px;
    border-radius:30px;
}

img{
margin:0;    
border-radius: 30px;
width:400px ;
 
}


@keyframes pc{
    0%{ opacity: 0%}
    25%{transform: translateY(-20px); opacity:100%}
    100%{opacity:0%}
}
.pc{
    animation: pc 8s infinite;
}


    




